header {
  width: 100%;
  min-height: 10vh;
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 25px;
}
header nav .navbar-collapse .navbar-nav .nav-letra {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
}
footer {
  /*   position: fixed; */
  bottom: 0;
  width: 100%;
  min-height: 85px;
  height: auto;
  flex-wrap: wrap;
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-around;
}

footer .logo img {
  max-width: 80px;
  height: 80px;
  width: 80px;
  align-self: center;
}
.simple-text {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.saberMas {
  color: rgb(202, 23, 112);
  font-size: 14px;
  font-weight: bold;
}
.saberMas:hover {
  color: rgb(138, 245, 253);
}

footer .container .social-network .footer-letra {
  font-size: 35px;
  line-height: 1.5;
  text-align: right;
}
.font-titles {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  text-align: left;
}
.fa-spray-can:hover{
  transition: all 0.2s;
  /* font-size: 50px; */
  transform: scale(1.5);
  display: inline-block;
}
