.header {
  font-family: "Permanent Marker", cursive;
}
.checkout-button {
  display: flex;
  justify-content: end;
  padding-right: 100px;
}

.button {
  border: 3px solid rgba(0, 43, 92, 1);
  background-color: transparent;
  font-style: italic;
  text-transform: lowercase;
  font-weight: 900;
  height: 40px;
  width: 125px;
  margin-bottom: 1.5rem;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Permanent Marker", cursive;
}
a {
  text-decoration: none;
  color: rgba(0, 43, 92, 1);
  letter-spacing: 1px;
}
a:hover {
  color: #10476e;
  text-decoration: none;
}
.button:hover {
  background-color: #dc3545;
}
